{% extends "layout.html" %}

{% block content %}
<h2>Livros disponíveis</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Categoria</th>
            <th>Autor</th>
            <th>Quantidade</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>{{ book.id }}</td>
            <td>{{ book.name }}</td>
            <td>{{ book.description }}</td>
            <td>{{ book.category_name }}</td>
            <td>{{ book.author_name }}</td>
            <td>{{ book.quantity }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
