{% extends "layout.html" %}

{% block content %}
<h2>Empréstimos</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Início</th>
            <th>Fim</th>
        </tr>
    </thead>
    <tbody>
        {% for loan in loans %}
        <tr>
            <td>{{ loan.id }}</td>
            <td>{{ loan.client_name }}</td>
            <td>{{ loan.start }}</td>
            <td>{{ loan.end }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
